<div id="login-splash">
  <% form_tag session_path do -%>

  <h1>If you have been invited to to join, please <%= link_to "register", signup_path %>.<br /> 
            If your registration has been activated, you can log in.</h1>
  
  <table border="0" cellpading="0" cellpadding="0" width="100%">
    <tr>
      <td valign="top"><h2>Login or email</h2>
          <%= text_field_tag 'login', @login, :class => 'brown_border', :tabindex => 1 %>
        <p><%= check_box_tag 'remember_me', '1', @remember_me, :class => 'brown_border', :tabindex => 4 %>
        Remember me  </p>
      </td>
      <td valign="top">
        <h2>Password (CaSe SeNsAtIvE)</h2>
        <%= password_field_tag 'password', nil, :class => 'brown_border', :tabindex => 2  %>
      </td>
      
      <td valign="top">
        <h2>What does the below text say?</h2>
        <%= text_field_tag 'recaptcha_response_field', nil, :class => 'brown_border' %>

        <div id="recaptcha_image" name="recaptcha_image"></div>
        <%= recaptcha_tags(:display => {:theme => 'custom', :tabindex => 3}) %>

      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p>&nbsp; </p>
      </td>
      <td align="left">
        <p><%= submit_tag 'Log in', :class => 'big_button', :tabindex => 5 %></p>

      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= link_to "Forgot password?", forgot_password_path %>
      </td>
    </tr>
    </table>

  
  <% end -%>


</div>
