      <div id="menu2">
        <table border="0" cellspacing="0" cellpadding="10"><tr>
          <td width="100"><h3><%= link_to "Ideas", watchlist_ideas_path %></h3></td>
          <td width="100"><h3><%= link_to "Projects", watchlist_projects_path %></h3></td>
          <td width="100"><h3><%= link_to "Jobs", watchlist_jobs_path %></h3></td>
          <td width="100"><h3><%= link_to "Profiles", watchlist_profiles_path %></h3></td>
          
          <td><% form_tag watchlists_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search] %> </td>
              
          <td><%= submit_tag "Search Watchlist", :name => nil %></td>
          <% end %>
          
          </td>

        </tr></table>
       </div>
