<% content_for :title do %><%= @header %><% end %>


<h1>My Watchlist: <%= link_to "Ideas", watchlist_ideas_path %> | <%= link_to "Projects", watchlist_projects_path %> | <%= link_to "Jobs", watchlist_jobs_path %> | <%= link_to "People", watchlist_people_path %> | <%= link_to "All", watchlists_path %></h1>

<% if params[:search] %><h2>Search Criteria: <%=h params[:search] %></h2><% end %>
  
<% if @ideas %>
  <div id="section_header"><h2>&nbsp;<%= pluralize @ideas_count, 'Idea' %></h2></div>
  <%= render :partial => @ideas %>
<% end %>

<% if @projects %>
  <div id="section_header"><h2>&nbsp;<%= pluralize @projects_count, 'Project' %></h2></div>
  <%= render :partial => @projects %>
<% end %>

<% if @jobs %>
  <div id="section_header"><h2>&nbsp;<%= pluralize @jobs_count, 'Job' %></h2></div>
  <%= render :partial => @jobs %>
<% end %>

<% if @people %>
  <div id="section_header"><h2>&nbsp;<%= pluralize @people_count, 'Person' %></h2></div>
  <%= render :partial => @people %>
<% end %>


