<% content_for :title do %><%= @header %><% end %>


<h1><%= @title %></h1>

<% if params[:search] %><h2>Search Criteria: <%=h params[:search] %></h2><% end %>

<p><i>You have <%= pluralize @count, "thing" %> on this list.</i></p>
  
<% if @ideas and @ideas_count > 0 %>
  <h2><%= pluralize @ideas_count, 'Idea' %></h2>
  <%= render :partial => @ideas %>
<% end %>

<% if @projects and @projects_count > 0 %>
  <h2><%= pluralize @projects_count, 'Project' %></h2>
  <%= render :partial => @projects %>
<% end %>

<% if @jobs and @jobs_count > 0 %>
  <h2><%= pluralize @jobs_count, 'Job' %></h2>
  <%= render :partial => @jobs %>
<% end %>

<% if @profiles and @profiles_count > 0 %>
  <h2><%= pluralize @profiles_count, 'User' %></h2>
  <%= render :partial => @profiles %>
<% end %>


