<%= div_tag_for(idea) %> 

  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td valign="top"class="snippet-stat" width="110">
        <div id="snippet-stat-align-right">
          <%= stats_for(idea) %> 
        </div>
      </td>
      <td valign="top" class="snippet-body">
        <div id="snippet-body">
          <h2>
            <%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0, :title => "On Watchlist") if current_user.watched_ideas.include?(idea) %> 
            <%= link_to h(idea.title), idea_path(:id => idea) %>
          </h2>
          <%= render :partial => '/shared/stars', :locals => { :scorable => idea} %>
          <p><%= show_description(idea) %></p>
          <p>posted <%= time_ago_in_words(idea.created_at) %> ago by <%= link_to(idea.user.login, user_path(idea.user)) %></p>

          <p><%= dashboard_for(idea) %></p>
        </div>
      </td>
    </tr>
  </table>
</div>

<div id="white-divider">&nbsp;</div>

