<% content_for :title do %>Idea <% end %>

<% if @idea.blank? %>
  <p>Sorry, no idea to see here.</p>

<% else %>


  <div id="show-container">

  <h1>IDEA</h1>

    <div id="show-action-menu">


      <% if @idea.user_id == current_user.id %>
        <%= link_to "edit", edit_idea_path(@idea), :class => "action_menu_edit" %>
      <% end %>

      <%= link_to "launch project", new_idea_project_path(@idea), :class => "action_menu_launch_project" %>

      <%= render :partial => '/shared/watchlist_menu', :locals => { :object => @idea}  %>
      <%= button_to_delete_if_allowed @idea %>

    </div>

    <div id="show-main-container">
    
      <h1><%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0) if current_user.watched_ideas.include?(@idea) %>
        <%=h @idea.title %></h1>

      <%= render :partial => '/shared/stars', :locals => { :scorable => @idea}  %>

      <p>Relevant industries: <%= @idea.industries_string %></p>

      <p>Posted by <%=h @idea.user ? @idea.user.login : "Anonymous" %><br />
        Poster location: <%= @idea.location_string %></p> 

      <p>Original post: <%= @idea.created_at %><br />
        Last updated: <%= @idea.updated_at %></p>

      <h2>Description</h2>

      <p><%= simple_format(strip_tags(@idea.description)) %></p>

      <h2><%= pluralize @idea.scorecard.total_comments_count, "Comment" %></h2>
      <%= render :partial => @idea.comments %>

      <div id="postcomment">
        <h2>Post a comment</h2>
      
        <% form_tag post_idea_comment_path do -%>
              <%= text_area_tag 'newcomment', @comment, :rows => 10, :cols => 38 %>
               <%= hidden_field_tag 'idea', @idea.id %>
              <p><%= submit_tag 'Post Comment' %></p>
              <% end %>
      </div>


    </div>

    <div id="show-stat">      
        <%= stats_for @idea, {:icons_side => "left", :breakout => true} %>
    </div>            

  </div>


<% end %>
