<%= div_tag_for(job) %> 

  <table border="0" cellspacing="0" cellpadding="0" width=100%>
    <tr>
      <td valign="top"class="snippet-stat" width="110">
        <div id="snippet-stat">
          <%= stats_for(job) %>
        </div>
      </td>
      <td valign="top" class="snippet-body">
        <div id="snippet-body">
          <h2>
            <%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0, :title => "On Watchlist") if current_user.watched_jobs.include?(job) %> 
            <%= link_to h(job.title), job_path(job) %>
          </h2>
          <%=h job.description[0..250] %><% if job.description.length > 250 %>...<% end %>

          <p>posted <%= time_ago_in_words(job.created_at) %> ago by <%= job.user ? link_to(job.user.login, user_path(job.user)) : "Anonymous" %></p>

          <%= dashboard_for(job) %> 

        </div>

      </td>
    </tr>
  </table>
</div>

<div id="white-divider">&nbsp;</div>

