<% content_for :title do %>Editing Job<% end %>

<h1>Edit Job</h1>
<p><%= link_to "Exit edit", job_path(:id => @job) %></p>

<div id="post">

<% form_for @job do |f| -%>

  <%= f.error_messages %>

     <p>Is this job post active or inactive?
       <%= f.radio_button :active, "true" %>Active
       <%= f.radio_button :active, "false" %>Inactive <br />
       <i>Only active job posts can be viewed by others.</i></p>

     <p>Publish this job to external job sites (i.e. <a href=http://www.indeed.com target=_blank>indeed.com</a>)?
       <%= f.radio_button :external_publish_ok, "true" %>Yes
       <%= f.radio_button :external_publish_ok, "false"  %>No <br />
       <i>Only open and active job posts will be published.</i></p>


      <p><%= label_tag 'Job title' %><br/>
      <%= f.text_field :title, :style=>"width:600px;" %></p>

      <p><%= label_tag 'Compensation type' %><br/>
          <%=  select("job", "compensation_type", Job.COMPENSATION_TYPES) %></p>

      <%= label_tag 'General skills' %><br />
      <i>Please select no more than 5:</i>

       <%= render :partial => '/shared/general_skills', :locals => { :skill_ids => @skill_ids } %>


      <p><%= label_tag 'Description' %><br/>
      <%= f.text_area :description, :rows => 10, :style=>"width:600px;" %></p>

      <p><%= submit_tag "Update" %></p>
      <% end %>
</div>

