<% content_for :title do %>New Job<% end %>


<h1>New Job</h1>

<div id="post">
<% form_for @job do |f| -%>

  <%= f.error_messages %>


<% if @project %>
  <p>This job is for the <%= link_to h(@project.title), project_path(:id => @project) %> project.</p>
  <p>The job post will have a link to the project if the project is active.</p>
  <%= f.hidden_field :project_id, :value => @project.id %>
<% end %>


 <p>Is this job post active or inactive?
   <%= f.radio_button :active, "true", :checked => true %>Active
   <%= f.radio_button :active, "false" %>Inactive <br />
   <i>Only active job posts can be viewed by others.</i></p>

      <p><%= label_tag 'Job title' %><br/>
      <%= f.text_field :title, :size => 50 %></p>

      <%= label_tag 'General skills' %><br />
      <i>Please select no more than 5:</i>

       <%= render :partial => '/shared/general_skills', :locals => { :skill_ids => @skill_ids } %>

      <p><%= label_tag 'Description' %><br/>
      <%= f.text_area :description, :rows => 10, :cols => 50 %></p>


      <p><%= submit_tag "Create Job" %></p>
      <% end %>
</div>
