<% content_for :title do %>Job <% end %>

<% if @job.blank? %>
  <p>Sorry, no job to see here.</p>

<% else %>


  <div id="show-container">

  <h1>JOB</h1>

    <div id="show-action-menu">


      <% if @job.project.members.include? current_user %>
        <%= link_to "edit", edit_job_path(@job), :class => "action_menu_edit" %>
      <% end %>
      <%= render :partial => '/shared/watchlist_menu', :locals => { :object => @job}  %>
      <%= button_to_delete_if_allowed @job %>

    </div>

    <div id="show-main-container">
    
      <h1><%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0) if current_user.watched_jobs.include?(@job) %>
        <%=h @job.title %></h1>

        <% if @job.project and (@job.project.active? || @job.user == current_user) %>
          <div id="section_header"><h2>&nbsp;Project</h2></div>
          <%= render :partial => @job.project %>
        <% end %>

      <div id="section_header"><h2>&nbsp;Job: <%=h @job.title %></h2></div>
        <h2>Status: <%=h @job.status %></h2>
        <% if @job.hired_user %>
          <p>Currently at this position:</p>
          <%= render :partial => "users/user", :object => @job.hired_user %>
        <% end %>


      <div id="snippet_header"><h3>&nbsp;General skills</h3></div>
      <p><%=h @job.general_skills_string %></p>

      <div id="snippet_header"><h3>&nbsp;Description</h3></div>
      <%= simple_format(h(strip_tags(@job.description))) %>



  <% if @job.project.user == current_user or (@job.project.members.include?(current_user) and not @job.job_applications.find_by_user_id(current_user.id)) %>
    <div id="section_header"><h2>&nbsp;<%= pluralize @job.applicants.count, "Job Applicant" %></h2></div>

    <% @job.job_applications.each do |application| %>

                <div id="snippet_header"><h3>&nbsp;<%=h application.user.login %></h3></div>
                  <p><%= simple_format sanitize(strip_tags(application.message)) %></p>
         
         
                      <% if @job.status == "Open" %>
                        <% form_for application do |f| -%>
                          <%= f.hidden_field :offered, :value => "true" %>
                          <%= submit_tag "Offer job to " + application.user.login %>
                        <% end %>
                      <% elsif application.hired and @job.project.user == current_user %>
                        <% form_for application do |f| -%>
                          <%= f.hidden_field :hired, :value => "false" %>
                          <%= submit_tag "Remove From Position", :confirm => "Are you sure you want to remove " + h(application.user.login) + " from this position?" %>
                        <% end %>
                      <% elsif application.offered %>
                        <% form_for application do |f| -%>
                          <%= f.hidden_field :offered, :value => "false" %>
                          <%= submit_tag "Withdraw Offer" %>
                        <% end %>
                      <% end %>  

                <br />
                <%= render :partial => application.user %>

    <% end %>

  <% end %>





      <% if @job.applicants.include?(current_user) %>

        <% if @job.hired_user == current_user %>
          <p>You are currently hired for this job.</p>
            <% form_for @job.job_applications.find_by_user_id(current_user.id) do |f| -%>
                <%= f.hidden_field :hired, :value => "false" %>
                <p><%= submit_tag "Leave Job", :confirm => "Are you sure you want to leave this job?" %></p>
            <% end %>

        <% elsif @job.users_with_offers.include? current_user %>
          <p>This job has been offered to you.</p>

            <% form_for @job.job_applications.find_by_user_id(current_user.id) do |f| -%>
                <%= f.hidden_field :hired, :value => "true" %>
                <p><%= submit_tag "Accept Job" %></p>
            <% end %>

          
        <% else %>

            <p><b>You applied for this job on <%= @application.created_at %>.</b></p>

            <% form_for @application do |f| -%>
             <%= f.text_area :message, :rows => 10, :cols => 60 %>
              <p><%= submit_tag 'Update Job Application' %></p>
            <% end %>
            
            <%= button_to "Delete Application", job_application_path(@application), :confirm => "Are you sure you want to delete your application?", :method => :delete %>


        <% end %>
      <% else %>

        <% if current_user.active == true %>

           <h2>Want to apply?</h2>
           <p>Write a message and hit apply (1000 character limit)
           <% form_for @application do |f| -%>
             <%= f.hidden_field :job_id %>
             <%= f.text_area :message, :rows => 10, :cols => 60 %>
             <p><%= submit_tag 'Apply' %></p>
           <% end %>

        <% end %>

      <% end %>
      



    </div>

    <div id="show-stat">
      <% if @job.project.members.include? current_user %>
        <p>status: <%= @job.active ? "active" : "<b>INACTIVE</b>" %></p>
        <hr>
      <% end %>
      
      <%= stats_for @job, "left" %>
        
    </div>            

  </div>


<% end %>

