<% content_for :title do %>Job <% end %>

<% if @job.blank? %>
  <p>Sorry, no job to see here.</p>

<% else %>


  <div id="show-container">

  <h1>JOB</h1>

    <div id="show-action-menu">


      <% if @job.project.members.include? current_user %>
        <%= link_to "edit", edit_job_path(@job), :class => "action_menu_edit" %>
      <% end %>
      <%= render :partial => '/shared/watchlist_menu', :locals => { :object => @job}  %>
      <%= button_to_delete_if_allowed @job %>

    </div>

    <div id="show-main-container">

      <h1><%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0, :title => "On Watchlist") if current_user.watched_jobs.include?(@job) %> <%=h @job.title %></h1>

      <p>
        Posted: <%= time_ago_in_words(@job.created_at) %> ago
        <% if @job.created_at < @job.updated_at %>
          | Updated: <%= time_ago_in_words(@job.updated_at) %> ago
        <% end %>

        <% if @job.status == "Open" and @job.project and @job.project.members.include? current_user %>
          <br/>
          <% if @job.external_publish_ok %>
            <div id="special_attention_notice">Published externally (i.e. <a href=http://www.indeed.com target=_blank>indeed.com</a>), edit job if you want to change this</div>
          <% else %>
            This job is posted on this website only (edit the job to publish externally).
          <% end %>
        <% end %>
      </p>

      <% if @job.hired_user %>
        <p>Currently at this position:</p>
        <%= render :partial => "users/user", :object => @job.hired_user %>
      <% end %>

      <p><b>Compensation type</b><br />
      <%=h @job.compensation_type %></p>

      <p><b>General skills</b><br />
      <%=h @job.general_skills_string %></p>

      <% if @job.project %>
        <p><b>Relevant industries (based on project - see below)</b><br />
        <%= @job.project.industries_string %></p>
      <% end %>

      <p><b>Details</b><br />
      <%= simple_format(h(strip_tags(@job.description))) %></p>

      <div id="white-divider">&nbsp;</div>
      <% if @job.project and (@job.project.active? || @job.user == current_user) %>
        <div id="section_header"><h2>&nbsp;Project</h2></div>
        <%= render :partial => @job.project %>
      <% end %>

      <div id="section_header"><h2>&nbsp;Who's hiring?</h2></div>

      <%= @job.user ? render(:partial => @job.user) : "Anonymous" %>


  <% if @job.project.user == current_user or (@job.project.members.include?(current_user) and not @job.job_applications.find_by_user_id(current_user.id)) %>
    <div id="section_header"><h2>&nbsp;<%= pluralize @job.applicants.count, "Job Applicant" %></h2></div>

    <% @job.job_applications.each do |application| %>

                <div id="snippet_header"><h3>&nbsp;<%=h application.user.login %></h3></div>
                  <p><%= simple_format sanitize(strip_tags(application.message)) %></p>


                      <% if @job.status == "Open" %>
                        <% form_for application do |f| -%>
                          <%= f.hidden_field :offered, :value => "true" %>
                          <%= submit_tag "Offer job to " + application.user.login %>
                        <% end %>
                      <% elsif application.hired and @job.project.user == current_user %>
                        <% form_for application do |f| -%>
                          <%= f.hidden_field :hired, :value => "false" %>
                          <%= submit_tag "Remove From Position", :confirm => "Are you sure you want to remove " + h(application.user.login) + " from this position?" %>
                        <% end %>
                      <% elsif application.offered %>
                        <% form_for application do |f| -%>
                          <%= f.hidden_field :offered, :value => "false" %>
                          <%= submit_tag "Withdraw Offer" %>
                        <% end %>
                      <% end %>

                <%= button_to "Send Message", new_user_message_path(application.user), :method => :get %>

                <br />
                <%= render :partial => application.user %>

    <% end %>

  <% end %>


      <% if @job.applicants.include?(current_user) %>

        <% if @job.hired_user == current_user %>
          <p>You are currently hired for this job.</p>
            <% form_for @job.job_applications.find_by_user_id(current_user.id) do |f| -%>
                <%= f.hidden_field :hired, :value => "false" %>
                <p><%= submit_tag "Leave Job", :confirm => "Are you sure you want to leave this job?" %></p>
            <% end %>

        <% elsif @job.users_with_offers.include? current_user %>
          <p>This job has been offered to you.</p>

            <% form_for @job.job_applications.find_by_user_id(current_user.id) do |f| -%>
                <%= f.hidden_field :hired, :value => "true" %>
                <p><%= submit_tag "Accept Job" %></p>
            <% end %>


        <% else %>

            <p><b>You applied for this job on <%= time_ago_in_words(@application.created_at) %> ago.</b></p>

            <% form_for @application do |f| -%>
             <%= f.text_area :message, :rows => 10, :cols => 60 %>
              <p><%= submit_tag 'Update Job Application' %></p>
            <% end %>

            <%= button_to "Delete Application", job_application_path(@application), :confirm => "Are you sure you want to delete your application?", :method => :delete %>


        <% end %>
      <% else %>

        <% if current_user.active == true %>

           <h2>Want to apply?</h2>
           <p>Write a message and hit apply (1000 character limit)
           <% form_for @application do |f| -%>
             <%= f.hidden_field :job_id %>
             <%= f.text_area :message, :rows => 10, :cols => 60 %>
             <p><%= submit_tag 'Apply' %></p>
           <% end %>

        <% end %>

      <% end %>




    </div>

    <div id="show-stat">
       <%= stats_for @job, {:icons_side => "left", :breakout => true} %>

    </div>
</div>

<% end %>

