<% content_for :title do %>Change Password<% end %>

    <h1>Change your password</h1>
     <%= error_messages_for :current_user %>
<% form_tag change_password_path do -%>
       <p><%= label_tag 'New password' %><br />
       <%= password_field 'password', nil %></p>

       <p><%= label_tag 'Confirm new password' %><br />
       <%= password_field 'password_confirmation', nil %></p>

       <p><%= label_tag 'current password (the one you want to change)' %><br />
       <%= password_field 'old_password', nil %></p>

     <%= render :partial => '/shared/reCAPTCHA' %>

  <p><%= submit_tag 'Change!' %></p>

<% end -%>


