<% content_for :title do %>Reset Password<% end %>



    <h1>Forgot your password?</h1>

    <p>Enter your email address and we will help you reset your password.</p>
    
<% form_tag forgot_password_path do -%>

<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" width="250">
      <h2>Email</h2>
      <%= text_field_tag 'email', @email%>
    </td>
    <td valign="top"
      <h2>Are you human?</h2>
      <%= recaptcha_tags(:display => {:theme => 'red'}) %>
  <br />
  <%= submit_tag 'Help!', :class => "big_button" %>

    </td>
  </tr>
</table>
  <p>
  <%= link_to_function "Login", login_path %><br />
  <%= link_to_function "Register", register_path %>
  </p>
<% end -%>
