
<%= render :partial => 'menu' %>

<% content_for :title do %>User Profiles<% end %>


<h1><%= pluralize @profiles.total_entries, "Profile" %></h1>
<% if @profiles.total_entries == 0 %>
  No profiles found.  Sorry!
<% end %>

<% if params[:search] %><h2>Search Criteria: <%=h params[:search] %></h2><% end %>

<%= render :partial => @profiles %>

<%= will_paginate @profiles %>
