<% content_for :title do %>New Account<% end %>

<% flash[:notice] = "Registration by invitation only." %>


<h1>Registration</h1>



<% form_for @user do |f| -%>
<%= f.error_messages %>

<p><%= label_tag 'login (username)' %><br/>
<%= f.text_field :login, :style=>"width:300px;" %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email, :style=>"width:300px;" %></p>


<%= render :partial => '/shared/add_location' %>

<p><%= label_tag 'password' %> (CaSe SeNsitIvE)<br/>
<%= f.password_field :password, :style=>"width:300px;" %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %> (CaSe SeNsitIvE)<br/>
<%= f.password_field :password_confirmation, :style=>"width:300px;" %></p>



<%= render :partial => '/shared/reCAPTCHA' %>

<p><%= submit_tag 'Register', :class=>"big_button" %></p>
<% end -%>


<p><b>NOTE:</b> If you are registered and just need to log in, please go <%= link_to "here", login_path %>.</p>


