<% content_for :title do %>Reset Password<% end %>

      <h1>Reset Your Password</h1>
      <% @user.password = @user.password_confirmation = nil %>

     <% form_for :user, :url => reset_password_path do |f| -%>

      <p><%= label_tag 'new_password', 'New Password' %> (CaSe SeNsAtIvE)<br/>
      <%= f.password_field :password %></p>

      <p><%= label_tag 'password_confirmation', 'Confirm Password' %> (CaSe SeNsAtIvE)<br/>
      <%= f.password_field :password_confirmation %></p>

      
     <%= render :partial => '/shared/reCAPTCHA' %>

      <p><%= submit_tag 'Reset password' %></p>
      <% end -%>

    </td>
    <td valign="top">
      <%= error_messages_for :user %>
