<% content_for :title do %>Person <% end %>

<% if @user.blank? %>
  <p>Sorry, no idea to see here.</p>

<% else %>


  <div id="show-container">

  <h1>PERSON</h1>

    <div id="show-action-menu">


      <% if @user == current_user %>
        <%= link_to "edit", edit_user_path(@user), :class => "action_menu_edit" %>
      <% end %>
      
      <%= render :partial => '/shared/watchlist_menu', :locals => { :object => @user}  %>

      <%= link_to "send message", new_user_message_path(@user), :class => "action_menu_send_message" %>

      <%= button_to_delete_if_allowed @user %>

    </div>

    <div id="show-main-container">
    
      <h1><%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0) if current_user.watched_people.include?(@user) %>
        <%=h @user.login %></h1>
        
        <% if current_user.watched_people.include? @user %>
          <%= dashboard_for(@user) %> 
          <br /><br />
        <% end %>

        <%= render :partial => '/shared/stars', :locals => { :scorable => @user}  %>

        <table border="0" cellspacing="0" cellpading="0" width="100%">
          <tr><td valign="top" width="50%">
            <h2><%= pluralize @user.locations.count, "Location" %></h2>
            <% geocodes = "" %>

            <p>
              <% @user.locations.each do |location| %>
                <%= location.location %><br />
                <% geocodes += location.longitude.to_s + "," + location.latitude.to_s + ",smallred|" %>
              <% end %>
            </p>
            </td><td valign="top">
        <% if @user.locations.count > 0 %>
          <div id="map_canvas" style="width: 255px; height: 100px"><img src="http://maps.google.com/staticmap?markers=<%= geocodes %>&zoom=0&size=255x100&key=<%= GoogleAPIKey %>&sensor=false&format=png8&" border="0"></div>
          <% end %>
        </td></tr>
      </table>


      <h2>Profile</h2>
    
      <% if @user.name and @user.name != ""  %><p><b>Name:</b> <%=h @user.name %></p><% end %>
      <% if @user.company and @user.company != "" %><p><b>Company:</b> <%=h @user.company %></p><% end %>
      <% if @user.headline and @user.headline != "" %><p><b>Headline:</b> <%=h @user.headline %></p><% end %>
      <% if @user.purpose and @user.purpose != "" %><p><b>Purpose and specific interests:</b> <%= simple_format(strip_tags(@user.purpose)) %></p><% end %>

      <% if @user.industries.size > 0 %>
        <p><b>General interests:</b>
        <% @user.industries.each do |industry| %>
          <br /><%= industry.name %>
        <% end %>
        </p>
      <% end %>

      <% if @user.general_skills.size > 0 %>
        <p><b>General skills:</b>
        <% @user.general_skills.each do |skill| %>
          <br /><%= skill.name %>
        <% end %>
        </p>
      <% end %>

      <% if @user.skills and @user.skills != "" %><p><b>Specific skills:</b><br /><%= simple_format(strip_tags(@user.skills)) %></p><% end %>

      <% if @user.experience and @user.experience != "" %><p><b>Experience:</b><br /><%= simple_format(strip_tags(@user.experience)) %></p><% end %>

      <% if @user.education and @user.education != "" %><p><b>Education:</b><br /><%= simple_format(strip_tags(@user.education)) %></p><% end %>

      <p>Member since: <%= @user.created_at %></p>




      <% ideas_count = @user.active_ideas.count %>
      <% if ideas_count > 0 %>
        <div id="section_header"><h2>&nbsp;<%= pluralize ideas_count, 'Active Idea' %></h2></div>
        <%= render :partial => @user.active_ideas %>
      <% end %>

      <% positions_count = @user.active_positions.count %>
      <% if positions_count > 0 %>
        <div id="section_header"><h2>&nbsp;<%= pluralize positions_count, 'Active Project' %></h2></div>

        <% @user.active_positions.each do |position| %>
              <div id="project_member">
                  <div id="snippet_header"><h3>&nbsp;<%=h position.job.title %></h3></div>
                  <%= render :partial => position.project %>
              </div>
        <% end %>

      <% end %>

      <% job_count = @user.open_job_postings.count %>
      <% if job_count > 0 %>
        <div id="section_header"><h2>&nbsp;<%= pluralize job_count, 'Open Job' %></h2></div>
        <%= render :partial => @user.open_job_postings %>
      <% end %>


    </div>

    <div id="show-stat">
      <% if @user == current_user %>
        <p>profile status: <%= @user.active ? "active" : "<b>INACTIVE</b>" %></p>
        <hr>
      <% end %>

        <%= stats_for @user, "left" %>

    </div>            

  </div>


<% end %>


