
<% unless object == current_user or object.author? current_user %>

<hr>
  
  <% if object.watchers.include? current_user %>
    <p>you are watching this <%= object.class.to_s %>, click to stop</p>

    <% watchlist = object.wlists.find_by_user_id current_user.id %>

    <%= link_to image_tag("other_icons/remove_from_watchlist_icon.png", :border => 0), watchlist_path(watchlist), :confirm => "Are you sure you want to stop watching this " + object.class.to_s.downcase + "?", :method => :delete %>

  <% else %>
      <p>
      <% watchlist = object.wlists.new %>
      <% form_for watchlist do |f| %>
        <%= f.hidden_field :watch_type %>
        <%= f.hidden_field :watch_id %>
        <%= image_submit_tag 'other_icons/watching_icon_sm.png' %>      
      <% end %>
      
      add to watchlist</p>
 
  <% end %>

  <% unless object.class == User or object.class == Job %>

    <hr>  
      <% if object.interested.include? current_user %>

        <p>you are showing interest in this <%= object.class.to_s.downcase %>, click to stop</p>
        
        <% interest = object.interests.find_by_user_id current_user.id %>
        <%= link_to image_tag("other_icons/remove_from_interest_icon.png", :border => 0), interest_path(interest), :confirm => "Are you sure you want to stop showing interest in this " + object.class.to_s.downcase + "?", :method => :delete %>

  
      <% else %>
        <p>show interest</p>

        <% interest = object.interests.new %>
        <% form_for interest do |f| %>
          <%= f.hidden_field :interest_type %>
          <%= f.hidden_field :interest_id %>
          <%= image_submit_tag 'other_icons/interest_icon_sm.png' %>      
        <% end %>

      <% end %>

  <% end %>

  <% end %>  
  <%= button_to_delete_if_allowed object %>

