
  <% status = invitation.status %>
  <% if status == "Activated" %>
    <div id="invitationsnippet">
  <% else %>
    <div id="invitationsnippet-inactive">  
  <% end %>
  
    <table width="100%">
      <tr>
        <td>
          <h2><%=h invitation.email %>
          <% if status == "Activated" %>
            | Registered as <%= link_to invitation.registered.login, user_path(invitation.registered) %>
          <% else %>
            | <%= status %>
            <%= button_to "Resend invitation to " + invitation.email, { :controller => :invitations, :action => :resend, :id => invitation.id} %>
          <% end %>
          </h2>
          <p><%= simple_format h(invitation.message) %></p>
          <p><i><%=h invitation.when_sent %></i></p>
        </td>
      </tr>
    </table>
  </div>

