<% content_for :title do %>Invitations<% end %>

<h1><%= pluralize @invitations.total_entries, "Invitation" %> | <%= link_to "Invite Another Person", new_invitation_path %></h1>
<% unless @invitations %>
  You have not invited anyone yet,  <%= link_to "invite", new_invitation_path %> someone!
<% end %>

<% if params[:search] %><h2>Search Criteria: <%=h params[:search] %></h2><% end %>
<%= render :partial => @invitations %>

<%= will_paginate @invitations %>
