<%= div_tag_for(project) %> 

  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td valign="top"class="snippet-stat" width="110">
        <div id="snippet-stat-align-right">
          <%= stats_for(project) %>
        </div>

      <% if project.members.include? current_user %>

        <div id="show-action-menu">
          <hr style="border-top: 1px dashed #F4C430; width:100%"/>          
          <%= link_to "post job", new_project_job_path(project), :class => "action_menu_new_job", :title => "post job" %>
          <hr style="border-top: 1px dashed #F4C430; width:100%"/>          
        </div>

      <% end %>



      </td>
      <td valign="top" class="snippet-body">
        <div id="snippet-body">
          <h2>
            <%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0, :title => "On Watchlist") if current_user.watched_projects.include?(project) %> 
            <%= link_to h(project.title), project_path(project) %>
          </h2>
          <%= render :partial => '/shared/stars', :locals => { :scorable => project} %>

          <p><%= show_description(project) %></p>
          <p>posted <%= time_ago_in_words(project.created_at) %> ago by <%= link_to(project.user.login, user_path(project.user)) %></p>

          <p><%= dashboard_for(project) %></p>
        </div>
      </td>
    </tr>
  </table>
</div>

<div id="white-divider">&nbsp;</div>

