<%= div_tag_for(project) %> 

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top"class="snippet-stat">
        <div id="snippet-stat">
          <%= stats_for(project) %>
        </div>
      </td>
      <td valign="top" class="snippet-body">
        <div id="snippet-body">
          <h2>
            <%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0) if current_user.watching_projects.include?(project) %> 
            <%= link_to h(project.title), project_path(project) %>
          </h2>
          <%= render :partial => '/shared/stars', :locals => { :scorable => project} %>

          <p><%= show_description(project) %></p>
          <p><%= dashboard_for(project) %></p>
        </div>
      </td>
    </tr>
  </table>
</div>
