<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
      <div id="snippet-stat" name="snippet-stat">
        <%= stats_for(project) %>
      </div>
    </td>
    <td valign="top">

      <%= div_tag_for(project) %> 

      <h2><%= link_to h(project.title), project_path(project) %></h2>
      <%= render :partial => '/shared/stars', :locals => { :scorable => project} %>

        | Posted <%= time_ago_in_words(project.created_at) %>

        <p><%= show_description(project) %></p>
        <p><%= dashboard_for(project) %></p>

      </div>
    </td>
  </tr>
</table>
