<% content_for :title do %>New Project<% end %>

  <%= render :partial => 'menu' %>  <h1>New Project</h1>
  <%= error_messages_for :project %>

  <div id="post">

  <% form_for :project, :url => projects_path do |f| -%>

  <% if @idea %>
    This project is being spawned off of the "<%= link_to @idea.title, idea_path(:id => @idea) %>" idea.
    <%= f.hidden_field :idea_id, :value => @idea.id %>
  <% end %>

     <p>Is this project active or inactive?
       <%= f.radio_button :active, "true", :checked => true %>Active
       <%= f.radio_button :active, "false" %>Inactive <br />
       <i>Only active projects can be viewed by others, including from any jobs posts.</i></p>


      <p><%= label_tag 'Project title' %><br/>
      <%= f.text_field :title, :size => 50 %></p>

      <p><%= label_tag 'Description' %><br/>
      <%= f.text_area :description, :rows => 10, :cols => 55 %></p>


      <p>Select relevant industries (no more than 5 please)<%= ", <i>" + pluralize(@industry_ids.size, "industry") + " " + @message + "</i>" unless @message.blank? %></p>

      <%= render :partial => '/shared/industries', :locals => { :industry_ids => @industry_ids } %>

      <p><%= submit_tag "Create Project" %></p>
      <% end %>
  </div>
