<% content_for :title do %>Project <% end %>

<% if @project.blank? %>
  <p>Sorry, no project to see here.</p>

<% else %>


  <div id="show-container">

  <h1>PROJECT</h1>

    <div id="show-action-menu">


      <% if @project.members.include? current_user %>
        <p>edit this project</p>
        <%= link_to image_tag("other_icons/edit_post_icon_grey.jpg", :border => 0, :alt => "Edit Project"), edit_project_path(:id => @project) %>
      <% end %>

      <% if @project.members.include? current_user %>
        <hr>
        <%= button_to "Post a Job", new_project_job_path(@project), { :method => :get } %>
      <% end %>
      
      <p><%= render :partial => '/shared/watchlist_menu', :locals => { :object => @project}  %></p>

      <%= button_to_delete_if_allowed @project %>

    </div>

    <div id="show-main-container">
    
      <h1><%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0) if current_user.watched_projects.include?(@project) %>
        <%=h @project.title %></h1>

      <%= render :partial => '/shared/stars', :locals => { :scorable => @project}  %>

      <% if @project.idea %>
        <p><b>This project was spawned from the "<%= link_to h(@project.idea.title), idea_path(:id => @project.idea) %>" idea.</b></p>
      <% end %>


      <p>Relevant industries: <%= @project.industries_string %></p>

      <p>Posted by <%=h @project.user ? @project.user.login : "Anonymous" %><br />
        Poster location: <%= @project.location_string %></p> 

      <p>Original post: <%= @project.created_at %><br />
        Last updated: <%= @project.updated_at %></p>

      <h2>Description</h2>

      <p><%= simple_format(strip_tags(@project.description)) %></p>


      <% if @project.scorecard.active_members_count > 0 %>

          <h2>Project Members</h2>

            <% @project.filled_positions.each do |member| %>
              <div id="project_member">
                  <div id="snippet_header"><h3>&nbsp;
                    <% if @project.members.include? current_user %>
                      <%= link_to h(member.job.title), job_path(member.job) %>
                    <% else %>
                      <%=h member.job.title %>
                    <% end %>                      
                  </h3></div>
                  <%= render :partial => member.user %>
              </div>
            <% end %>

      <% end %>


      <% if @project.wiki and @project.wiki != "" %>
        <h2>Mini Wiki</h2>
        <p><%= sanitize(strip_tags(@wiki)).to_html %></p>
      <% end %>


      <h2><%= pluralize @project.scorecard.total_comments_count, "Comment" %></h2>
      <%= render :partial => @project.comments %>

      <div id="postcomment">
        <h2>Post a comment</h2>
      
        <% form_tag post_project_comment_path do -%>
              <%= text_area_tag 'newcomment', @comment, :rows => 10, :cols => 38 %>
               <%= hidden_field_tag 'project', @project.id %>
              <p><%= submit_tag 'Post Comment' %></p>
              <% end %>
      </div>


    </div>

    <div id="show-stat">
      <% if @project.author?(current_user) %>
        <p>status: <%= @project.active ? "active" : "<b>INACTIVE</b>" %></p>
        <hr>
      <% end %>
      
        <%= stats_for(@project, "left") %> 
        <% @project.interested.each do |profile| %>
          <p><%= link_to profile.login, user_path(profile) %></p>
        <% end %>

      <% for job in @project.open_jobs %>
       <p><%= link_to h(job.title), job_path(:id => job) %></p>

      <% end %>


    </div>            

  </div>


<% end %>



