<% content_for :title do %>Project <% end %>

<% if @project.blank? %>
  <p>Sorry, no project to see here.</p>

<% else %>


  <div id="show-container">

  <h1>PROJECT</h1>

    <div id="show-action-menu">


      <% if @project.user_id == current_user.id %>
        <p>edit this project</p>
        <%= link_to image_tag("other_icons/edit_post_icon_grey.jpg", :border => 0), edit_project_path(:id => @project) %>
        <hr>
      <% end %>
      
      <p><%= render :partial => '/shared/action_menu', :locals => { :object => @project}  %></p>

      <% if @project.user_id == current_user.id %>
        <%= button_to "Post a Job", new_project_job_path(@project), { :method => :get } %>
      <% end %>

    </div>

    <div id="show-main-container">
    
      <h1><%= image_tag("/images/other_icons/watched_item_icon_yellow.png", :border => 0) if current_user.watching_projects.include?(@project) %>
        <%=h @project.title %></h1>

      <%= render :partial => '/shared/stars', :locals => { :scorable => @project}  %>

      <% if @project.idea %>
        <p><b>This project was spawned from the "<%= link_to h(@project.idea.title), idea_path(:id => @project.idea) %>" idea.</b></p>
      <% end %>


      <p>Relevant industries: <%= @project.industries_string %></p>

      <p>Posted by <%=h @project.user ? @project.user.login : "Anonymous" %><br />
        Poster location: <%= @project.location_string %></p> 

      <p>Original post: <%= @project.created_at %><br />
        Last updated: <%= @project.updated_at %></p>

      <h2>Description</h2>

      <p><%= simple_format(strip_tags(@project.description)) %></p>


      <% if @project.scorecard.active_members_count > 0 %>
        <div id="team">
          <h2>Project Members</h2>
          <table border="0">
            <% @project.filled_positions.each do |member| %>
              <tr>
                <td valign="top" width="200">
                  <h3><%= member.job.title %></h3>Joined project: <%= member.created_at %>
                </td><td valign="top">
                  <%= render :partial => member.user %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>


      <% if @project.wiki and @project.wiki != "" %>
        <h2>Mini Wiki</h2>
        <p><%= sanitize(strip_tags(@wiki)).to_html %></p>
      <% end %>


      <h2><%= pluralize @project.scorecard.total_comments_count, "Comment" %></h2>
      <%= render :partial => @project.comments %>

      <div id="postcomment">
        <h2>Post a comment</h2>
      
        <% form_tag post_project_comment_path do -%>
              <%= text_area_tag 'newcomment', @comment, :rows => 10, :cols => 38 %>
               <%= hidden_field_tag 'project', @project.id %>
              <p><%= submit_tag 'Post Comment' %></p>
              <% end %>
      </div>


    </div>

    <div id="show-stat">
      <% if @project.author?(current_user) %>
        <p>status: <%= @project.active ? "active" : "<b>INACTIVE</b>" %></p>
        <hr>
      <% end %>
      
       <p><%= image_tag("other_icons/watching_icon_sm.png", :border => 0) %> <%= @project.watchers_count %> watching</p>  
        <hr>
       <p><%= image_tag("other_icons/interest_icon_sm.png", :border => 0) %> <%= @project.interested_count %> interested</p>
        
        <% @project.interested.each do |profile| %>
          <p><%= link_to profile.login, user_path(profile) %></p>
        <% end %>

        <hr>
      <p><%= pluralize @project.scorecard.active_jobs_count, "job" %></p>

      <% for job in @project.open_jobs %>
       <p><%= link_to h(job.title), job_path(:id => job) %></p>

      <% end %>


    </div>            

  </div>


<% end %>



