<% content_for :title do %>Home<% end %>


<% if logged_in? %>
  <!-- dashboard -->
  <%= render :partial => '/users/dashboard' %>


  <table border="0"  cellpadding="15" align="center">
    <tr>            
      <td valign="top">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <%= link_to image_tag("/images/home_main_icons/post_new_main_left.png", :border => 0), new_idea_path %><br />
              <%= link_to image_tag("/images/home_main_icons/my_ideas_main_left.png", :border => 0), my_ideas_path %><br />
              <%= link_to image_tag("/images/home_main_icons/watchlist_main_left.png", :border => 0), watchlist_ideas_path %>
            
            </td>
            <td>
              <%= link_to image_tag("/images/home_main_icons/ideas_main_icon.png", :border => 0), ideas_path %></td>
            </td>
          </tr>
        </table>
      <td valign="top">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <%= link_to image_tag("/images/home_main_icons/projects_main_icon.png", :border => 0), projects_path %></td>
            </td>

            <td>
              <%= link_to image_tag("/images/home_main_icons/post_new_main_right.png", :border => 0), new_project_path %><br />
              <%= link_to image_tag("/images/home_main_icons/my_projects_main_right.png", :border => 0), my_projects_path %><br />
              <%= link_to image_tag("/images/home_main_icons/watchlist_main_right.png", :border => 0), watchlist_projects_path %>          
            </td>
          </tr>
        </table>            
      </td>

      <td rowspan="2" valign="top">
        <div id="recent-activity" >

<h2>Recent Activity</h2>
          <table border="0" cellpadding="5" cellspacing="5"><tr><td>
            <%= show_recent_ideas_and_projects %>
          </td></tr></table>
        </div>
      </td>


    </tr>

    <tr>
      <td valign="top">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <%= link_to image_tag("/images/home_main_icons/my_jobs_main_left.png", :border => 0), jobs_path %><br />
              <%= link_to image_tag("/images/home_main_icons/watchlist_main_left.png", :border => 0), watchlist_jobs_path %>          
            </td>
            <td>
              <%= link_to image_tag("/images/home_main_icons/jobs_main_icon.png", :border => 0), jobs_path %></td>
            </td>
          </tr>
        </table>

      </td>
      <td valign="top">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <%= link_to image_tag("/images/home_main_icons/people_main_icon.png", :border => 0), users_path %></td>
            </td>
            <td>
              <%= link_to image_tag("/images/home_main_icons/invite_main_right.png", :border => 0), new_invitation_path %><br />
              <%= link_to image_tag("/images/home_main_icons/watchlist_main_right.png", :border => 0), watchlist_people_path %>
            </td>
          </tr>
        </table>
      
      </td>
    </tr>
  </table>

  
<% else %>

  <!-- logon -->
  <%= render :partial => '/sessions/logon' %>

<% end %>
