<% form_for @promo do |f| %>
  <%= f.error_messages %>


   <%= f.radio_button :active, "true" %><%= f.label "active_true", "Active" %>
   <%= f.radio_button :active, "false" %><%= f.label "active_false", "Inactive" %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

