<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Commune2 | <%= yield :title %></title>
    <%= stylesheet_link_tag 'style' %>

<!-- if IE6 or less, this is needed to get PNG's to work -->
<!--[if lt IE 7]>
 <%= javascript_include_tag 'unitpngfix.js' %>
<![endif]--> 

  </head>
  <body>


        <div id="site-container">

        <!-- content table container -->
        <table height="100%" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr><td valign="top" height="155">



          <div id="banner">    

            <!-- banner table container -->
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td valign="top">
                 
                  <span id="banner-logo">
                    <%= link_to image_tag("c2_banner_logo_brown.png", :border => 0), root_path %>

                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tr>
                        <td valign="bottom" align="left" height="90">                 
                          <%= section_icon %>
                        </td>
                        <td valign="top">
                          <p class="banner"><%= link_to image_tag("menu_icons/home_menu_icon.png", :border => "0"), root_path %></p>
                          <p class="banner"><%= link_to image_tag("menu_icons/help_menu_icon.png", :border => "0"), help_path %></p>
                        </td>
                      </tr>
                    </table>

                  </span>
                </td>

            
            
            <% if logged_in? and request.path_parameters[:controller] != "user" %>

                <td valign="top" width="140">
              
                  <span id="banner-menu-ideas">
                    <%= link_to "ideas", ideas_path, :class => menu_link_class("ideas", "ideas") %>
                    <%= link_to "post new", new_idea_path, :class => menu_link_class("ideas", "new") %>                    
                    <%= link_to "watchlist", watchlist_ideas_path, :class => menu_link_class("ideas", "watchlist") %>
                    <%= link_to "my ideas", my_ideas_path, :class => menu_link_class("ideas", "my") %>                    
                  </span>
                </td>
                <td valign="top" width="155">

                  <span id="banner-menu-projects">
                    <%= link_to "projects", projects_path, :class => menu_link_class("projects", "projects") %>
                    <%= link_to "post new", new_project_path, :class => menu_link_class("projects", "new")  %>
                    <%= link_to "watchlist", watchlist_projects_path, :class => menu_link_class("projects", "watchlist") %>
                    <%= link_to "my projects", my_projects_path, :class => menu_link_class("projects", "my") %>
                  </span>

                </td>
                <td valign="top" width="135">

                  <span id="banner-menu-jobs">
                    <%= link_to "jobs", jobs_path, :class => menu_link_class("jobs", "jobs") %>
                    <%= link_to "post new", new_job_path, :class => menu_link_class("jobs", "new")  %>
                    <%= link_to "watchlist", watchlist_jobs_path, :class => menu_link_class("jobs", "watchlist") %>
                    <%= link_to "my jobs", my_jobs_path, :class => menu_link_class("jobs", "my") %>
                  </span>

                </td>
                <td valign="top" width="135">

 
                  <span id="banner-menu-people">
                    <%= link_to "people", users_path, :class => menu_link_class("users", "people") %>
                    <%= link_to "invite", new_invitation_path, :class => menu_link_class("users", "new") %>
                    <%= link_to "watchlist", watchlist_people_path, :class => menu_link_class("users", "watchlist") %>
                    <%= link_to "my profile", edit_user_path(current_user), :class => menu_link_class("users", "my") %>

                  </span>             
                  
                </td>
           
           
           <% else %>
              <td>           
                 <h1>Share Ideas. Learn. Collaborate. Build. Change the World.</h1>
              </td>
          <% end %>
          <% if logged_in? %>      
                <td valign="top">
                  <span id="banner-search">
                        <% form_tag searches_path, :method => :get do %>
                        <%= text_field_tag :search, params[:search] %>
                        <%= submit_tag "Search", :name => nil %>
                        <% end %>
        
                    <p class="banner"> &nbsp; </p>
                    <p class="banner">logged in as: <%= link_to current_user.login, edit_user_path(current_user), :class=> "banner-no-block" %> (<%= link_to "logout", logout_path, :class => "banner-no-block" %>)</p>

                  </span>

                  </td>
              <% end %>

              </tr>
            </table>  <!-- banner table container -->

          </div>

          </td></tr>
          <tr><td valign="top"> <!-- content table container -->


    <!-- IE6 BAD, GET NEW BROWSER -->

      <!--[if lt IE 7]>
      <div style='border: 5px solid #CF4326; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>        <div style='font-size: 16px; font-weight: bold; margin-top: 12px; '>You are using an outdated browser</div>        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>      </div>      <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>      <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>      <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>      <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>    </div>  </div>
      
      <![endif]-->


            <div id="content">

               <% unless flash[:error].blank? %>
                 <div id="error"><%=h flash[:error] %> </div>
               <% end %>
               <% unless flash[:notice].blank? %>
                  <div id="notice"><%=h flash[:notice] %> </div>
               <% end %>

                      
              <%= yield %>

            </div>


        </td>
      </tr>
      <tr> <!-- content table container -->
        <td valign="bottom">
        
          <div id="disclaimer">
            <p>&copy; 2009 Commune2.com. A social networking enterprise.
            Owned by <a href=http://www.bisonpeak.com>Bison Peak Corporation</a>.  All rights reserved.</p>
          </div>


          </td>
        </tr>
      </table> <!-- content table container -->

        </div>
  </body>
</html>

<% flash.discard %>
