<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Commune2 | <%= yield :title %></title>
    <%= stylesheet_link_tag 'style' %>

  </head>
  <body>

    <table border="0" cellspacing="0" cellpadding="0" align="center" height="100%"><tr><td valign="top">
    
  
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td width="200">
          <%= link_to image_tag("commune2.jpg", :border => 0), root_path %>
        </td>
        
        <td width="100">
          <%= link_to "help", help_path %>
        </td>

        <td>
          <% if logged_in? %>
            logged in as: <%= link_to current_user.login, edit_user_path(current_user) %> (<%= link_to "logout", logout_path %>)
        </td>

          <td align="right">
            <% form_tag searches_path, :method => :get do %>
            <%= text_field_tag :search, params[:search] %>
          </td>
          <td width="80" align="right">
            <%= submit_tag "Search", :name => nil %></td>
            <% end %>       
          <% end %>

        </td>
        
    </tr>
    </table>
    
    <hr />

   <% unless flash[:error].blank? %>
     <div id="error"><%=h flash[:error] %></div>
   <% end %>
   <% unless flash[:notice].blank? %>
      <div id="notice"><%=h flash[:notice] %></div>
   <% end %>

  
  <%= yield %>

</td></tr>

<tr><td valign="bottom">
    <div id="disclaimer">&copy; 2009 Commune2.com. A social networking enterprise. Owned by <a href=http://www.bisonpeak.com>Bison Peak Corporation</a>.  All rights reserved.</div>

    </td></tr>
    
    </table>


  </body>
</html>

<% flash.discard %>
